<%= render partial: "components/header"  %>
<%= render partial: "components/sidebar"  %>
<div class="card text-center mt-4 ">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="true" href="#">Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link acticve" href="#">Report</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    table
  </div>
</div>
<%= render partial: "components/footer"  %>

