<%= render partial: 'components/header' %>
<%= render partial: 'components/sidebar' %>
<style>
div.card{
  margin-bottom: 40px;
}
#suhu, #kelembaban, #kebisingan, #lux, #debu, #amonia {
  scroll-margin-top: 60px; 
}
li{
  list-style: none;
  flex: right;
}
.kotak-monitoring {
  background-color: rgba(13, 110, 253, 0.8);
  border-radius: 10px;
  height:100px;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.kotak-monitoring:hover {
  background-color: rgba(13, 110, 253, 0.9); 
}
.icon-mon{
  position: absolute;
  top: 5px; 
  right: 5px;
} 
.icon-mon svg{
  height: 30px;
  width: 30px;
  fill: white;
}

</style>

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center gap-1">
            <svg class="bi"><use xlink:href="#calendar3"/></svg>
            This week
          </button>
        </div>
      </div>

      <%# Grafik%>

      <%# Akhir Grafik%>
        <div id="suhu"  class="card">
          <h5 class="card-header">Suhu</h5>
          <div class="card-body">
            <div class="row">
              <div class="col col-5 text-center">
                <div class="kotak-monitoring">
                  <div class="val-monitoring" id="suhu">
                    <h3 id="suhu-val">
                    </h3>
                  </div>
                  <div class="icon-mon" id="icon">
                    <svg><use xlink:href="#icon-suhu"/></svg>
                  </div>
                </div>
              </div>
              <div class="col col-7">
                <h1 class="card-title">Grafik</h1>
              </div>
            </div>
          </div>
        </div>

        <div id="kelmbaban"  class="card">
          <h5 class="card-header">Kelembaban</h5>
          <div class="card-body">
            <div class="row">
              <div class="col col-5 text-center">
                <div class="kotak-monitoring">
                  <div class="val-monitoring" >
                    <h3 id="kelembaban-val">
                    </h3>
                  </div>
                  <div class="icon-mon" id="icon">
                    <svg><use xlink:href="#icon-kelembaban"/></svg>
                  </div>
                </div>
              </div>
              <div class="col col-7">
                <h1 class="card-title">Grafik</h1>
              </div>
            </div>
          </div>
        </div>

      <div id="kelembaban" class="card">
        <h5  class="card-header">Kelembaban</h5>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="col">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>

      <div id="kebisingan" class="card">
        <h5 class="card-header">Kebisingan</h5>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="col">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>

      <div id="lux" class="card">
        <h5 class="card-header">Lux</h5>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="col">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>

      <div id="debu" class="card">
        <h5  class="card-header">Debu</h5>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="col">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>

      <div id="amonia"class="card">
        <h5  class="card-header">Amonia</h5>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="col">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    
    </div>

    <script>
    function getDataFromMQTT() {
        $.ajax({
            url: '/mqtt/sub', // Ganti URL sesuai dengan endpoint Anda
            type: 'GET',
            dataType: 'json',
            success: function(res) {
                // Data berhasil diambil dari server MQTT
                // Lakukan sesuatu dengan data, misalnya memperbarui tampilan halaman
                const suhu = res.suhu;
                const kelembaban = res.kelembaban;
                $("#suhu-val").text(`${suhu} °C`);
                $("#kelembaban-val").text(`${kelembaban}%`);
            },
            error: function(xhr, status, error) {
                // Penanganan kesalahan jika ada
                console.error(error);
            }
        });
      }

// Panggil fungsi getDataFromMQTT secara berkala (misalnya setiap 5 detik)
setInterval(getDataFromMQTT, 5000); // 5000 ms = 5 detik

    </script>
<%= render partial: 'components/footer' %>